html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

.aurow {
    text-align: center;
}

.sectionheader {
    color: #ffffff; /* White text */
    background-color: #FE5C00; /* OSU orange */
    margin: 3rem 0;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    text-align: center;
    padding: 1.5rem 0;
}

.azureimage {
    height: 27rem;
    display: flex;
    justify-content: right;
    padding-top: 1em ;
}

.AzureHeaderText {
    font-size: 5em;
    text-align: center;
    color: #ffffff
}

.azuremargin {
    margin-top: 1rem;
    color: #FE5C00;
    font-size: 2em;
}

.azuretext {
    margin: 0rem 3rem 1rem 3rem;
}

.cicdmargin {
    margin-top: 1rem;
    color: #FE5C00;
    font-size: 2em;
}

.cicd {
    margin: 0rem 3rem 1rem 3rem;
}

.wcumargin {
    margin: 5rem 0rem 3rem 0rem;
    color: #6F4E37;
    font-size: 3em;
}

.wcuheader {
    text-align: center;
    color: #6F4E37;
    font-size: 1.75em;
    margin: 2rem 0rem 2rem 0rem;
}

.wcutext {
    text-align: center;
}